* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

.wrapper {
    max-width: 960px;
}

.logo,
h1,
.hero-img,
.hero-button {
    color: #F9FAF8;
}

.nav-links,
p {
    color: slategray;
}

/* Section one */

.section-one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

.hero {
    display: flex;
    padding: 96px 0;
    gap: 16px;
}

.hero-text,
.hero-img {
    flex: 1;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

P {
    font-size: 18px;
}

.hero-button {
    margin-top: 10px;
    padding: 10px 36px;
    background-color: #3882F6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: slategray;
}

/* section two */

.section-two {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card-section {
    display: flex;
    gap: 48px;
}

h2 {
    padding-top: 48px;
    color:#1F2937;
    font-size: 36px;
    font-weight: bolder;
}

.card {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    padding-bottom: 96px;
    width: 180px;
    gap: 8px;

}

.card-img {
    height: 180px;
    border: 5px solid #3882F6;
    border-radius: 15px;
}

/* Section three */
